* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#alainlogo{
    background-size: 150px;
  width: 50px;
  height: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.chat-container {
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    max-height: 80%;
    overflow: hidden;
}

.chat-header {
    background-color: #5D3FD3;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.chat-messages {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}